<a class="subscribe-me" href="{{@blog.url}}/rss/">Subscribe via RSS</a>
<p class="copyright">All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.</p>
<p class="poweredby">Proudly published with <a href="http://ghost.org">Ghost</a> &amp; built by <a href="http://www.pluginhero.com">PluginHero</a></p>